<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ca_gazebo)/worlds/two_rooms.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <!-- Spawn robot/s -->
  <param name="create1/amcl/initial_pose_x" value="-1"/>
  <param name="create1/amcl/initial_pose_y" value="1"/>
  <param name="create1/amcl/initial_pose_a" value="0"/>

  <param name="create2/amcl/initial_pose_x" value="1"/>
  <param name="create2/amcl/initial_pose_y" value="1"/>
  <param name="create2/amcl/initial_pose_a" value="3.1416"/>

  <include file="$(find ca_gazebo)/launch/spawn_multirobot.launch">
    <arg name="nr" value="2"/>
  </include>
</launch>
